# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

.DS_Store
zkout/

ZkSyncDevOps.t.sol/

lib/
broadcast/
reports/

# System & Install Logs 
install
install.log
foundryup-zksync

# ZKSync Binaries 
cast.1.gz
forge.1.gz
foundry_zksync_man_v0.0.13.tar.gz